


<div>
  <button mat-raised-button (click)="toggle = !toggle">Toggle Portal A Source</button>
</div>

<br/><br/>

<div *anguiPortalSource="'PortalChild'">
  <app-angui-portal-example-child-source></app-angui-portal-example-child-source>
</div>

<div *anguiPortalSource="'PortalA'">This goes to sink 1. Count is {{ count }}</div>
<ng-container *ngIf="toggle">
	<div *anguiPortalSource="'PortalA'">This goes to sink 1 as well</div>
</ng-container>

<div *anguiPortalSource="'PortalB'">This goes to sink 2</div>
<div *anguiPortalSource="'PortalB'">
	This goes to sink 2 as well {{ foo }}
	<button mat-raised-button (click)="count = count + 1" #testButton>Increment Count</button>
</div>

<div>
  Portal Child:
  <app-angui-portal-example-child-sink></app-angui-portal-example-child-sink>
</div>

<br/><br/>

<div>
  Portal A <small>(copy 1)</small>:
  <angui-portal-sink anguiPortalSink="PortalA"></angui-portal-sink>
</div>

<br/><br/>

<div>
  Portal A <small>(copy 2)</small>:
  <angui-portal-sink anguiPortalSink="PortalA"></angui-portal-sink>
</div>

<br/><br/>

<div>
  Portal B:
  <angui-portal-sink anguiPortalSink="PortalB"></angui-portal-sink>
</div>
