<form *ngIf="formGroup" [formGroup]="formGroup" (submit)="submit()">
  <mat-form-field>
    <input type="text" matInput placeholder="name" formControlName="name" />
    <mat-error angui-form-error="name"></mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="email" formControlName="email" />
    <mat-error angui-form-error="email"></mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="coupon code" formControlName="couponCode" />
    <mat-error angui-form-error="couponCode"></mat-error>
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="agree">Do you agree?</mat-checkbox>
    <mat-error angui-form-error="agree"></mat-error>
  </div>

  <button mat-button type="submit">submit</button>
  <button mat-button type="button" (click)="validate()">validate</button>
  <button mat-button type="button" (click)="reset()">reset</button>
</form>
